<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Système de suivi des étudiants de Côte d'Ivoire</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

   {% load static %} 
  <!-- Favicons -->
  <link href="{% static 'assets/img/logo.png' %} " rel="icon">
  <link href="{% static 'assets/img/logo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>
  <div class="container">
  <main id="main">
  
    <section id="contact" class="contact">
      <div class="container">
        
        <div  class="section-title ">
          <span class="sseci text-white">SSECI</span>
          <h2 class="sse_ci text-white">SSECI</h2>
          <p class=" sseci h1 text-white">Système de suivi des étudiants de Côte d'Ivoire</p>
        </div>

        <div  class="row  p-3 mb-2 testimonials">
          <div class="col-lg-12 ">
            <form action="{% url 'web:accueil' %}" enctype="multipart/form-data" method="post" role="form" class="php-email-form ">
              {% csrf_token %}
              <input type="hidden" name="next_page" value="{% url 'web:accueil' %}">
                  <div class="alert  alert-dismissible fade 
                    {% if message == 'success' %}
                      show alert-success
                    {% elif message == 'error' %}
                      show alert-danger
                    {% endif %}" 
                    role="alert"> 
                    {% if message == 'success' %}
                    <p class="text-center"><strong class="text-center text-success">Succès!</strong> Votre identification a été prise en compte ! </p>
                    {% elif message == 'error' %}
                    <p class="text-center"> <strong >Erreur !</strong> Veuillez corriger les erreurs ci-dessous !</p>
                    {% endif %}
                  </div> 
              <div class="row">
                <div class="col-md-4 form-group">
                <p class="text-center fst-italic h5 "> <span class="badge text-white">Nom</span></p>
                  {{form.nom}}
                  {% if form.nom.errors %}
                      <ul class="text-danger">
                          {% for error in form.nom.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white">Prénoms</span> </p>
                  {{form.prenom}}
                  {% if form.prenom.errors %}
                      <ul class="text-danger">
                          {% for error in form.prenom.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white">Sexe</span></p>
                  {{form.sexe}}
                  {% if form.sexe.errors %}
                      <ul class="text-danger">
                          {% for error in form.sexe.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-4 form-group">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white">Lieu de naissance</span></p>
                  {{form.lieu_nais}}
                  {% if form.lieu_nais.errors %}
                      <ul class="text-danger">
                          {% for error in form.lieu_nais.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white">Date de naissance</span></p>
                  {{form.date_nais}}
                  {% if form.date_nais.errors %}
                      <ul class="text-danger">
                          {% for error in form.date_nais.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white">Email</span></p>
                  {{form.email}}
                  {% if form.email.errors %}
                      <ul class="text-danger">
                          {% for error in form.email.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-4 form-group">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white">Téléphone</span></p>
                  {{form.contact}}
                  {% if form.contact.errors %}
                      <ul class="text-danger">
                          {% for error in form.contact.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white">Matricule </span></p>
                  {{form.matricule}}
                  {% if form.matricule.errors %}
                      <ul class="text-danger">
                          {% for error in form.matricule.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white">Numéro CNI </span></p>
                  {{form.cni}}
                  {% if form.cni.errors %}
                      <ul class="text-danger">
                          {% for error in form.cni.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
              </div>
              
              <div class="row mt-3">
                <div class="col-md-4 form-group">
                  <p class="text-center fst-italic h5 text-white">  <span class="badge text-white"> Carte d'étudiant (pdf)</span></p>
                  {{form.carte_etudiant}}
                  {% if form.carte_etudiant.errors %}
                      <ul class="text-danger">
                          {% for error in form.carte_etudiant.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white"> Pièce d'identité (pdf)</span></p>
                  {{form.carte_cni}}
                  {% if form.carte_cni.errors %}
                      <ul class="text-danger">
                          {% for error in form.carte_cni.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <p class="text-center fst-italic h5 text-white"><span class="badge text-white"> Université d'accueil</span></p>
                  {{form.universite}}
                  {% if form.universite.errors %}
                      <ul class="text-danger">
                          {% for error in form.universite.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-4 form-group">
                  <p class="text-center fst-italic h5 text-white"><span class="badge text-white"> UFR</span></p>
                  {{form.ufr}}
                  {% if form.ufr.errors %}
                      <ul class="text-danger">
                          {% for error in form.ufr.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white"> Filière</span></p>
                  {{form.filiere}}
                  {% if form.filiere.errors %}
                      <ul class="text-danger">
                          {% for error in form.filiere.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <p class="text-center fst-italic h5 text-white">  <span class="badge text-white"> Spécialité</span></p>
                  {{form.specialite}}
                  {% if form.specialite.errors %}
                      <ul class="text-danger">
                          {% for error in form.specialite.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-4 form-group">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white"> Niveau d'étude</span></p>
                  {{form.niveau}}
                  {% if form.niveau.errors %}
                      <ul class="text-danger">
                          {% for error in form.niveau.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white"> Ville de residence</span></p>
                  {{form.ville}}
                  {% if form.ville.errors %}
                      <ul class="text-danger">
                          {% for error in form.ville.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                  <p class="text-center fst-italic h5 text-white"> <span class="badge text-white"> Commune de residence</span></p>
                  {{form.commune}}
                  {% if form.commune.errors %}
                      <ul class="text-danger">
                          {% for error in form.commune.errors %}
                              <li>{{ error }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
              </div>
             
            <br>
              <div class="text-center"><button type="submit" >Identifiez-vous!</button></div>
            </form>
          
          </div>
        </div>

      </div>
    </section><!-- End Contact Me Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3 class="ss_eci">SSECI</h3>
      <p class="sse_ci h1">Un système pour une et unique formation subventionnée par l'État ivoirien.</p>
      <div class="copyright">
        &copy; Copyright <strong><span>sseci</span></strong>. Tous les droits sont réservés
      </div>
      <div class="credits">
        Designed by <a href="https://www.linkedin.com/in/kouassi-r%C3%A9mi-gnamien-1441081b7/" target="_blank">RKG</a>
      </div>
    </div>
  </footer><!-- End Footer -->
</div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <!--script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script-->

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>